<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{userinfo/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

        <div class="row">
            <div class="col-md-3">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://avatars.githubusercontent.com/u/81150979?s=400&u=01ae909d19e26c8d355b27cae585d67ad7f0c064&v=4">
                    <span class="font-weight-bold">이름은 미구현</span>
                    <span class="text-black-50">[[${userDetail.email}]]</span>
                    <span> </span>
                </div>
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <a href="/userinfo/myPosts?id=1">
                        <span class="font-weight-bold">내가 쓴 게시글</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">회원 정보</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">이름</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">영문 이름</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">이메일</label>
                            <input type="text" class="form-control" th:placeholder="${userDetail.email}" value="" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">휴대폰 번호</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">주소</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">상세 주소</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">지역</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">선호 지역</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">선호 음식</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">선호 숙소 유형</label>
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <a href="/userinfo/userDetailModify">
                            <button class="btn btn-success profile-button" type="button">변경</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>