<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/reservation/images/favicon.png" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/reservation/css/bootstrap.css"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="/reservation/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/reservation/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/reservation/css/responsive.css" rel="stylesheet"/>
    <!--  readStyle  -->
    <link rel="stylesheet" type="text/css" href="/read/readCss.css"/>
    <!--  jquery.js  -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 모달 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- 카카오 공유 -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

</head>
<body class="sub_page">
<div class="hero_area">
    <div class="bg-box">
        <img src="/reservation/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/home/list">
            <span>
              Feane
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/home/list">글 목록<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/insert">글 쓰기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/userinfo/userDetail">내 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/login">로그아웃</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <a href="" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a class="cart_link" href="#">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;"
                                 xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>
                    </g>
                  </g>
                                <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"/>
                    </g>
                  </g>
                                <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>
                    </g>
                  </g>
                </svg>
                        </a>
                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                        <a href="" class="order_online">
                            Order Online
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<div id="jkContainer">
    <div id="contentTitle">
        <h1>[[${result.title}]]</h1>
        <a th:href="@{/home/memberPostList(pno=${result.pno})}"> [[${result.member.email}]] </a>
        <p id="date">[[${#temporals.format(result.regDate,'yyyy/MM/dd')}]]</p>
    </div><!-- #contentTitle -->

    <div id="contentmain">
        <img src="https://www.science.org/do/10.1126/science.abi5787/abs/main_puppies_1280p.jpg"/>
        <p>[[${result.content}]]</p>
    </div><!-- #contentmain -->

    <!-- modal  -->
    <div class="modal" id="ex">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="modal-body" >
            <a id="btnTwitter" class="link-icon twitter" href=""><img src="/images/icon-twitter.png"></a>

            <a id="btnFacebook" class="link-icon facebook" href="#"><img src="/images/icon-facebook.png"></a>

            <a id="btnKakao" class="link-icon kakao" href="#"><img src="/images/icon-kakao.png"></a>

            <a id="btnNaver" class="link-icon naver" href="#"><img src="/images/icon-naver.png"></a>

        </div>
    </div>
    <!-- modal  -->

    <div id="contentBottom">
        <div id="contentBtns">
            <a class="contentBtn share">
                <img id ="share_img" src="/images/share_img.png">
            </a><!-- .contentBtn -->

            <a class="contentBtn">
                <img id="like_img" src="/images/heart_empty.png">
                <span id="like_cnt"></span>
            </a><!-- .contentBtn -->

        </div><!-- #contentBtns -->
        <div id="contentComment">
            <div id="commentsList">


            </div><!-- #commentsList -->
            <input type="text" name="commentEnter" placeholder="댓글 입력 후 Enter를 눌러주세요">
        </div><!-- #contentComment -->
    </div><!-- #contentBottom -->
</div><!-- #jkContainer -->


<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                  Location
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  Call +01 1234567890
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  demo@gmail.com
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Feane
                    </a>
                    <p>
                        Necessary, making this the first true generator on the Internet. It uses a dictionary of over
                        200 Latin words, combined with
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->


<!-- jQery -->
<script src="/reservation/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="/reservation/js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/reservation/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->
<script th:inline="javascript">
    $(document).ready(function () {
        var pno = [[${result.pno}]];
        var list = $("#commentsList");
        var likeCnt = $("#like_cnt");
        if([[${heartCnt}]]==null) likeCnt.html(0);
        var userId = [[${user.id}]];
        var heartImg = $("#like_img");

        function formatTime(str){
            var date = new Date(str);
            return date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate()+' '+date.getHours()+':'+date.getMinutes();
        }

        $('input[name="commentEnter"]').keydown(function(e){
            if (e.keyCode == 13) {
                var comment={
                    pno,
                    content:$('input[name="commentEnter"]').val(),
                    replyer: [[${user.email}]],
                    id:[[${user.id}]]
                }
                console.log(comment);
                $.ajax({
                    url: '/comments/',
                    method: 'post',
                    data: JSON.stringify(comment),
                    contentType: 'application/json; charset-utf-8',
                    dataType: 'json',
                    success:function (data) {
                        console.log(data);
                        alert("댓글이 등록되었습니다.");
                        loadJSONData();
                        $("input[name='commentEnter']").val("");
                    }
                })
            }
        });
        function loadJSONData() {
            $.getJSON('/comments/' + pno +'/all', function (arr) {
                console.log(arr);
                var str=""
                // $('.pull-right text-muted').html([[${result.likeNum}]] + "likes -" + arr.length + " comments");
                $.each(arr,function (idx,comment) {
                    str += '<input type="hidden" name="cno">'
                    // str += '<img class="img-circle img-sm" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User Image">';
                    str += '<div class="comment-text" data-cno="'+ comment.cno +'">';
                    str += '<span class="username">';
                    str += comment.replyer;
                    str += '<span class="text-muted pull-right" id="regDate">'+ formatTime(comment.regDate);
                    str += '<button type="button" class="btn btn-box-tool remove"><i class="fa fa-times"></i></button>';
                    str += '</span>';
                    str += '</span>';
                    str += '<div id="content">';
                    str += comment.content;
                    str += '</div>';
                    str += '</div>';
                })
                list.html(str);
            })
        }
        loadJSONData();

        $("#commentsList").on("click",".comment-text",function () {
            var cno = $(this).data("cno");
            $("input[name='cno']").val(cno);
            console.log(cno);
        })
        $(document).on('click','.remove',function(){
            var cno = $("input[name='cno']").val();
            $.ajax({
                url: '/comments/' + cno + "/" + pno + '/remove',
                method: 'delete',
                success: function (result) {
                    console.log("댓글 삭제 : ", result)
                    if (result === true) {
                        alert("댓글이 삭제되었습니다");
                        loadJSONData();
                    }else{
                        alert("본인 댓글만 삭제 가능합니다");
                        loadJSONData();
                    }
                }
            })
        })
        var modal = $(".modal");
        $(document).on('click','.share',function () {
            modal.show();
            $(".modal-body a").click(function () {
                shareAct(this);
            })
            $('.close').click(function () {
                modal.hide();
            })
        })
        $(document).mouseup(function (e) {
            if(modal.has(e.target).length === 0){
                modal.hide();
            }
        })
        function shareAct(e) {
            var snsCode = $(e).attr('id');
            var url = "http://localhost:8080/home/read?pno=" + [[${result.pno}]];
            switch (snsCode) {
                case "btnTwitter":
                    url = 'https://twitter.com/intent/tweet?text=' + [[${result.title}]] + ':&url=' + url;
                    break;
                case "btnFacebook":
                    url = 'http://www.facebook.com/sharer/sharer.php?u=' + url;
                    break;
                case "btnKakao":
                    shareKakao();
                    break;
                case "btnNaver":
                    url = 'http://share.naver.com/web/shareView.nhn?url='
                        +encodeURIComponent(url) + '&title=' + encodeURIComponent([[${result.title}]]);
                    break;
            }
            window.open(url, '공유하기', 'width=auto,height=auto,top=auto,left=auto,scrollbars=yes');
            modal.hide();
        }
        function shareKakao() {
            Kakao.init('9a96f95c1d776dbdc5547ee043bf5890');

            Kakao.Link.createDefaultButton({
                container: '#btnKakao',
                objectType: 'feed',
                content: {
                    title: [[${result.title}]],
                    description: [[${result.content}]],
                    imageUrl: "http://localhost8080",
                    link: {
                        webUrl: "http://localhost:8080/home/read?pno=" + [[${result.pno}]]
                    }
                }
            });
        }
        //////////////////////////////////////////////heartCount////////////////////
        function loadHeartCount() {
            $.getJSON('/heart/' + pno + "/count",function (count) {
                console.log(count);
                $('#like_cnt').html(count);
            })
        }

        loadHeartCount();
        ///////////////////////////////
        function getHeartInfo() {
            $.getJSON('/heart/' + pno + "/info",function (info) {
                var heartImg = $("#like_img");
                console.log(info.member.id);
                if(info.member.id == userId) heartImg.attr("src", "/images/heart_full.png");
                else heartImg.attr("src", "/images/heart_empty.png")
            })
        }
        getHeartInfo();
        $(document).on("click","#like_img",function () {
            var heart={
                pno,
                id: userId
            }
            if([[${heart}]] == null){
                console.log("아이디가 없다")
                $.ajax({
                    url: "/heart",
                    method: 'post',
                    data: JSON.stringify(heart),
                    contentType: 'application/json; charset-utf-8',
                    dataType: 'json',
                    success: function (data) {
                        alert("좋아요 추가");
                        heartImg.attr("src", "/images/heart_full.png");
                        loadHeartCount();
                    }
                })
            }

            $.getJSON('/heart/' + pno + "/info",function (info) {
                console.log(info);
                if(info != null){
                    console.log("아이디가 있다")
                    $.ajax({
                        url: "/heart/"  + info.hno +"/" + pno + "/remove",
                        type: "DELETE",
                        success:function (data) {
                            if(data === true){
                                console.log("삭제 성공")
                                heartImg.attr("src", "/images/heart_empty.png")
                                loadHeartCount();
                            }
                        }
                    })
                }
            })
        })
    })
</script>
</body>
</html>